# Pipeline PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=jobs_db
PIPELINE_DB_PORT=5432

# Airflow metadata PostgreSQL
POSTGRES_AIRFLOW_USER=airflow
POSTGRES_AIRFLOW_PASSWORD=airflow
POSTGRES_AIRFLOW_DB=airflow
AIRFLOW_DB_PORT=5433

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_PORT=5050

# App
DB_HOST=localhost
DB_PORT=5432
DB_NAME=jobs_db
DB_USER=postgres
DB_PASSWORD=postgres
LOG_LEVEL=INFO
CSV_PATH=data/data_jobs.csv

# Airflow
AIRFLOW_HOME=airflow
